*{
    margin: 0;
    padding: 0;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.primary-color{
    color: #4E47FF;
}
.text-color{
    color: rgba(0, 0, 0, 0.5);
}
.btn-primary{
    font-weight: 700;
    padding: 12px 32px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* nav styles */
nav{
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 32px;
}

/* banner styles */
.banner{
    background-image: url("../Assets/Hero-bg.png");
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    padding: 150px 0;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 35px;
}

/* main styles */
main{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 150px;
    background-color: rgba(78, 71, 255, 0.04);
}

/* action styles */
.action{
    display: flex;
    gap: 200px;
    align-items: center;
    padding: 115px 0;
}
.action-title{
    font-weight: 700;
    font-size: 38px;
}
.action-subtitle{
    font-size: 22px;
    padding: 20px 0;
}
.action img {
    width: 400px;
    border-radius: 50px;
}

/* productive user styles */
.productive-users{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
    text-align: center;
    padding: 50px 0;
}
.productive-users-title{
    font-weight: 700;
    font-size: 35px;
}
.productive-users-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 40px;
}
.user-data h1{
    font-size: 75px;
    font-weight: 700;
}
.user-data p{
    font-size: 18px;
}

/* users feedback styles */
.users-feedback{
    margin: 135px 0;
}
.users-feedback-title{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
}
.users-feedback-container{
    display: flex;
    gap: 20px;
}
.user-feedback{
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 22px;
}
.star-icon{
    width: 90px;
    height: 16px;
    background-image: url("../Assets/icon-star.png");
    background-repeat: repeat-x;
    margin-bottom: 20px;
}
.user-feedback-subtitle{
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 22px;
}
.review{
    display: flex;
    gap: 12px;
    align-items: center;
}
.review img{
    border-radius: 50%;
}
.review h4{
    font-weight: 600;
    color: #757575;
}
.review p{
    color: #B3B3B3;
}