*{
    margin: 0px;
    padding: 0px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.full-body{
    background-color: rgba(214, 221, 237, 40%);
}

/* shared styles */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    padding: 14px 35px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #ffffff;
}
.header{
    background-image: url('/Assets/Hero-bg.png');
    width: 100%;
    height: 650px;
}


/* navbar styles */

nav{
    display: flex;
    padding: 50px 130px;
    justify-content: space-between;
}

.nav-title{
    font-size: 30px;
    color: #4E47FF;
    font-weight: 900;
}

/* banner styles */

.banner{
    width: 900px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}
.banner-title{
    color: #252432;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}
.banner-btn{
    margin-top: 50px;
}

/* action styles */

.action{
    display: flex;
    justify-content: space-between;
    padding: 130px;
}
.action-content{
    width: 500px;
}
.action-content h3{
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}
.action-content h4{
    font-size: 28px;
    font-weight: 400;
    color: rgba(37, 36, 50, 50%);
    margin-top: 25px;
}
.action-content button{
    margin-top: 25px;
}
.action img{
    border-radius: 50px;
}

/* productive users styles */

.productive-users{
    background-color: rgba(78, 71, 255, 10%);
    width: 950px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 80px;
}
.productive-users-title{
    font-size: 35px;
    font-weight: bold;
}
.productive-users-data{
    display: flex;
    gap: 100px;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}
.data-title{
    color: #4E47FF;
    font-size: 80px;
}
.data-description{
    color: rgba(37, 36, 50, 50%);
    font-size: 22px;
    font-weight: 500;
}

/* user feedback styles */

.user-feedbacks{
    text-align: center;
    width: 1110px;
    margin: 170px;
}
.user-feedbacks h2{
    font-size: 42px;
}
.user-feedback{
    display: flex;
    gap: 20px;
    padding-top: 50px;
}
.feedback{
    width: 300px;
    padding: 20px 0px 20px 20px;
    background-color: #ffffff;
    text-align: left;
}
.feedback-title{
    margin-top: 20px;
}
.feedback-description{
    margin-top: 10px;
    color: #252432;
}
.reviewer-info{
    margin-top: 20px;
    display: flex;
}
.reviewer-info img{
    border-radius: 50%;
}
.reviewer-data{
    padding-left: 10px;
}
.reviewer-name{
    color: #757575;
    font-size: 14px;
    padding-top: 7px;
}
.review-date{
    color: #B3B3B3;
    font-size: 14px;
}

/* form section styles */


form{
    margin-bottom: 15px;
}
.form-section{
    display: flex;
    padding: 130px;
    align-items: center;
    
}
.form-title{
    font-size: 97px;
}
.form-div form label{
    font-size: 18px;
    font-weight: 500;
}
.form-div form input{
    width: 430px;
    height: 60px;
    padding: 0 20px;
    border-radius: 7px;
    border: 1px solid #D6DDED;
}
.form-div form input::placeholder, textarea::placeholder{
    font-size: 20px;
}
textarea{
    border-radius: 5px;
    border: 1px solid #D6DDED; 
    padding: 20px;
}
.form-button{
    width: 478px;
}

/* footer styles */

footer{
    text-align: center;
    padding: 70px;
    border: 1px solid rgba(0, 0, 0, 10%);
}
footer h2{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}
footer p{
    color: #8987A1;
    font-size: 20px;
    padding: 20px;
}
footer ul{
    display: flex;
    text-align: center;
    justify-content: center;
}
footer ul li{
    list-style: none;
    padding: 0 20px;
    font-size: 18px;
    color: #8987A1;
}
